#left-panel-container {
    width: 200px;
    /* margin-left: 51px; */
}

.item-divs{
    width: min-content;
    padding: 11px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

.item-divs:hover {
    background-color: rgba(208, 226, 243, .5);
    border-radius: 999999px;
}

.icons-span {
    width: 20px;
    height: 20px;
}

.names-span {
    padding-right: 20px;
    margin-left: 26px;
}

#Twitter {
    margin-bottom: 11px;
    width: 45px;
}

#Twitter .item-divs {
    width: 22px;
}

#Twitter:hover {
    border-radius: 50%;
}

#Tweet {
    background-color: rgb(29, 155, 240);
    border-radius: 999999px;
    font-size: larger;
    color: white;
    margin-top: 8px;
}

#Tweet .item-divs {
    width: 89%;
}

#Tweet:hover, #Tweet.item-divs:hover{
    background-color: rgba(208, 226, 243, .5);
}

#Tweet span {
    margin-left: 36%;
}