#right-navigation-panel-container {
  display: flex;
  flex-direction: column;
  max-width: 299px;
  /* margin-left: 53px; */
  opacity: 0.2;
  /* position: absolute; */
  right: 72px;
  top: 0px;
  /* padding-right: 51px; */
}

#right-navigation-panel-container #native-panels {
  position: relative;
}

#right-navigation-panel-container #programmable-panels {
  position: absolute;
  top: 305px;
  width: 299px;
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container {
  text-align: left;
  margin-bottom: 11px;
  /* line-height: 1.5em; */
  border: solid silver 1.1px;
  border-radius: 8px;
  padding: 4px;
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container #heading-text {
  font-size: x-large;
  margin-bottom: 11px;
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container #person-details {
  display: flex;
  /* text-align: left; */
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container #person-details #profile-picture {
  width: 62px;
  height: 60px;
  border-radius: 50%;
  margin-right: 22px;
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container #person-details #name {
  font-size: larger;
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container #person-details #handle {
  font-size: small;
  color: silver;
}

#right-navigation-panel-container #programmable-panels #relevant-people-view-container #person-details #description {
  margin-top: 6px;
  text-align: justify;
}

#search-twitter-container {
  display: flex;
  /* justify-content: space-between; */
  padding: 0px 8px 0px 2px;
  align-items: center;
  border: 0.11em solid lightgray;
  border-radius: 20px;
  position: relative;
  width: 299px;
}

#search-twitter-container label {
  width: -webkit-fill-available;
}

#search-twitter-container #search-in-twitter {
  width: -webkit-fill-available;
  border: none;
  margin-left: 11px;
  background-color: transparent;
}

#search-twitter-container #svg-icon {
  margin-left: 20px;
}

#search-in-twitter + #search-dropdown-container {
  display: none;
}

/* #search-in-twitter ~ #search-dropdown-container {
    display: none;
  } */

#search-in-twitter:focus + #search-dropdown-container {
  display: block;
}

/* #search-in-twitter + #search-dropdown-container + #headings-section {
    display: block;
} */

#search-dropdown-container {
  position: absolute;
  top: 34.5px;
  width: -webkit-fill-available;
  background-color: white;
}

#search-twitter-container #search-dropdown-container {
  position: absolute;
  top: 34.5px;
  width: -webkit-fill-available;
  background-color: white;
  z-index: 99;
}

#search-dropdown-container #headings-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 2px 2px 2px;
}

#search-dropdown-container .keywords-section,
#show-search-results-container .keywords-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.3em;
  color: silver;
}

#search-dropdown-container .keywords-section:hover,
#show-search-results-container .keywords-section:hover {
  /* border: .11em solid lightgray; */
  background-color: rgba(245, 245, 245, 0.4);
  cursor: pointer;
}

#search-dropdown-container .search-icon,
#search-dropdown-container .remove-icon {
  display: flex;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  justify-content: center;
  align-items: center;
}

#search-dropdown-container .search-icon:hover,
#search-dropdown-container .remove-icon:hover {
  background: lightgray;
  /* cursor: pointer; */
}

#search-dropdown-container .remove-icon {
  height: fit-content;
  width: fit-content;
}

#search-dropdown-container .searched-keywords {
  width: 31%;
}

#search-dropdown-container #show-to-search-announcement {
  background-color: white;
  color: silver;
  font-size: smaller;
  margin-top: 4px;
}

#search-dropdown-container #clear-all-searched-keywords {
  width: 56px;
  color: rgb(29, 155, 240);
  font-weight: bolder;
  font-size: small;
}

#search-dropdown-container #clear-all-searched-keywords:hover {
  background-color: rgba(29, 155, 240, 0.2);
  border-radius: 11px;
  cursor: pointer;
}

#media-gallery-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: 92%; */
  margin-top: 8px;
}

#media-gallery-container #media-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* #media-gallery-container #media-gallery div {
  width: 100%;
  text-align: left;
} */

/* #media-gallery-container #media-gallery div img */
#media-gallery-container #media-gallery .gallery-view {
  width: 29%;
  height: 53px;
  margin: 0.27em;
  border-radius: 6px;
}

/* #media-gallery-container #media-gallery .giphy-attribution,  */
#media-gallery-container #media-gallery .gallery-view div div {
  display: none;
}

/* current trends */
#current-trends-container,
#right-navigation-panel-container #current-trends-container,
#right-navigation-panel-container #suggested-people-list-container {
  border: solid 1px silver;
  /* padding: 0px 4px 0px 4px; */
  border-radius: 11px;
  /* max-width: 299px; */
}

#right-navigation-panel-container #current-trends-container {
  max-width: 299px;
}

#current-trends-container,
#right-navigation-panel-container #current-trends-container,
#right-navigation-panel-container #top-news-relays-container {
  position: relative;
}

#current-trends-container #trends-header,
#right-navigation-panel-container #current-trends-container #trends-header {
  display: flex;
  justify-content: space-between;
  font-size: x-large;
  align-items: center;
  padding: 0px 4px 0px 4px;
  margin-bottom: 6px;
}

#current-trends-container #show-more,
#right-navigation-panel-container #current-trends-container #show-more,
#right-navigation-panel-container #suggested-people-list-container #show-more {
  line-height: 2em;
  margin-top: 4px;
  font-size: larger;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  padding: 0px 4px 0px 4px;
}

#current-trends-container #show-more:hover,
#right-navigation-panel-container #current-trends-container #show-more:hover,
#right-navigation-panel-container #suggested-people-list-container #show-more:hover {
  background-color: lightgray;
}

/* top news relays styles */
#current-trends-container,
#right-navigation-panel-container #current-trends-container,
#right-navigation-panel-container #suggested-people-list-container {
  text-align: left;
  margin-bottom: 4px;
  margin-top: 8px;
}

#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #news-category,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #news-numbers {
  display: flex;
  font-size: smaller;
  color: silver;
}

#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #news-category #category-name {
  margin-right: 4px;
}

#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #slug-name {
  text-decoration: underline;
  /* font-size: large; */
}

#top-news-relays-container .news-item-wrapper,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper {
  padding: 0px 4px 0px 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-news-relays-container .news-item-wrapper:hover,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper:hover {
  background-color: lightgray;
  /* color: black; */
}

#top-news-relays-container .news-item-wrapper #category-settings,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #category-settings {
  border-radius: 100%;
  display: flex;
  /* position: relative; */
  height: fit-content;
}

#top-news-relays-container .news-item-wrapper #category-settings:hover,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #category-settings:hover {
  background-color: rgba(29, 155, 240, 1);
}

#top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper {
  position: absolute;
  right: 0px;
  top: 36px;
  background-color: whitesmoke;
  border: solid silver 1px;
  border-radius: 4px;
  /* padding: 8px; */
  z-index: 99;
  width: -webkit-fill-available;
}

#top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper .settings-option-wrapper,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper .settings-option-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 4px; */
  padding: 11px;
}

#top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper .settings-option-wrapper:hover,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper .settings-option-wrapper:hover {
  background-color: lightslategray;
}

#top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper #announcement-text,
#right-navigation-panel-container #top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper #announcement-text {
  line-height: 2em;
  padding: 11px;
  background-color: lightslategray;
  pointer-events: none;
}

#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 2px 6px 2px;
}

#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #user-img {
  width: 31px;
  border-radius: 17px;
}

#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #user-details {
  text-align: left;
  display: flex;
}

#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #user-details #profile-info {
  margin-left: 9px;
}

#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #user-details #profile-info #user-handle {
  font-size: smaller;
}

#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #follow-btn,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #top-section-wrapper #follow-btn,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #follow-btn,
#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #follow-btn {
  line-height: 2em;
  background-color: rgba(29, 155, 240, 1);
  padding: 0px 11px 0px 11px;
  border-radius: 13px;
  margin-left: 6px;
}

/* #components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container */
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container {
  position: absolute;
  top: 36px;
  right: 0px;
  background-color: whitesmoke;
  z-index: 99;
  padding: 10px 11px 4px 20px;
  width: 290px;
  border-radius: 4px;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container {
  position: absolute;
  top: 36px;
  left: 0px;
  width: 400px;
  background-color: azure;
  border-radius: 8px;
  z-index: 99;
  padding: 10px 11px 4px 20px;
} 

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #top-section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 11px;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #user-name,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #user-details #profile-info #user-name,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #top-section-wrapper #user-name,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #user-name {
  font-size: smaller;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #user-name:hover,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #user-details #profile-info #user-name:hover,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #top-section-wrapper #user-name:hover,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #user-name:hover {
  text-decoration: underline;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #left-side,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #top-section-wrapper #left-side,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #left-side {
  text-align: left;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #left-side img,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #top-section-wrapper #left-side img,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #top-section-wrapper #left-side img {
  height: 38px;
  border-radius: 50%;
  width: 42px;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper {
  margin-bottom: 11px;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #description-text,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #description-text {
  margin-left: 0px;
  text-align: justify;
  width: -webkit-fill-available;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers,
#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper {
  display: flex;
  align-items: center;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers {
  margin-top: 11px;
  margin-bottom: 11px;
  justify-content: space-between;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper {
  justify-content: space-between;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper #numbers-denominations,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper #numbers-denominations,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper #numbers-denominations {
  font-size: x-large;
  color: darkgray;
  margin-right: 4px;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper #card-name,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper #card-name,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #follow-and-follower-numbers #card-wrapper #card-name {
  color: silver;
  /* font-size: larger; */
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper {
  color: darkslategray;
  font-size: smaller;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper #followed-by-people-wrapper,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper #followed-by-people-wrapper,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper #followed-by-people-wrapper {
  display: flex;
  align-items: center;
}

#components-container #explicit-trend-tweets-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper #followed-by-people-wrapper img,
#components-container #lengthy-follow-list-container #lengthy-people-list-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper #followed-by-people-wrapper img,
#right-navigation-panel-container #follow-suggested-people-container .render-people-wrapper #suggested-person-modal-container #descriptive-infos-wrapper #statement-wrapper #followed-by-people-wrapper img {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 11px;
}

#right-navigation-panel-container #suggested-people-list-container #header-text {
  font-size: x-large;
  padding-left: 4px;
}

#right-navigation-panel-container #suggested-people-list-container .render-people-wrapper {
  position: relative;
}

#right-navigation-panel-container #suggested-people-list-container .render-people-wrapper #unfollow-modal-wrapper {
  left: -13px !important;
}

#right-navigation-panel-container #suggested-people-list-container .render-people-wrapper #unfollow-modal-wrapper #action-btns-wrapper {
  margin-top: 13px;
}

#right-navigation-panel-container #suggested-people-list-container .render-people-wrapper #unfollow-modal-wrapper #action-btns-wrapper .action-btns {
  text-align: center;
  font-size: larger;
  border-radius: 20px;
}

#explicit-trend-tweets-container {
  width: 696px;
}

#explicit-trend-tweets-container #trends-header-component {
  /* width: 650px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#explicit-trend-tweets-container #trends-header-component .svg-element {
  width: 17%;
  line-height: 2em;
  position: relative;
}

#explicit-trend-tweets-container #trends-header-component .svg-element .tooltips {
  position: absolute;
  left: 13px;
  top: 22px;
  background-color: silver;
  border-radius: 51%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 4px 0px 4px;
  font-size: small;
}

#explicit-trend-tweets-container #trends-header-component #More .tooltips {
  left: 53px;
}

#explicit-trend-tweets-container #trends-header-component #back-svg-icon,
#explicit-trend-tweets-container #trends-header-component #Back {
  text-align: left;
  padding-left: 15px;
}

#explicit-trend-tweets-container #trends-header-component #remove-search-text {
  position: absolute;
  right: 20px;
  background-color: rgb(29, 155, 240);
  border-radius: 50%;
  display: flex;
  padding-left: 2px;
}

#explicit-trend-tweets-container #trends-header-component #search-settings-icon,
#explicit-trend-tweets-container #trends-header-component #More {
  text-align: right;
  padding-right: 18px;
}

#explicit-trend-tweets-container #trends-header-component #search-wrapper {
  line-height: 2em;
  margin-bottom: 1.3px;
  flex-grow: 2;
}

#explicit-trend-tweets-container #trends-header-component #search-wrapper #svg-icon {
  display: flex;
}

#explicit-trend-tweets-container #trends-header-component #search-wrapper #search-suggested-list {
  /* padding-left: 60px; */
  font-size: larger;
  line-height: 2em;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container {
  position: absolute;
  top: 42px;
  background-color: whitesmoke;
  z-index: 99;
  padding: 11px;
  border-top-left-radius: 11px;
  border-bottom-left-radius: 11px;
  width: -webkit-fill-available;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .keywords-section .remove-icon {
  display: flex;
  height: 42px;
  align-items: center;
  transform: scale(1.5);
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .keywords-section svg {
  fill: silver;
} 

#search-twitter-container #search-dropdown-container .results-wrapper-ui,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui {
  display: flex;
  margin-bottom: 11px;
  border-radius: 8px;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui {
  font-size: smaller;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui:hover,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui:hover {
  background-color: lightgray;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui #profile-picture,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui #profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui #profile-infos,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui #profile-infos {
  text-align: left;
  margin-left: 20px;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui #profile-infos #name,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui #profile-infos #name {
  font-size: x-large;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui #profile-infos #handle,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui #profile-infos #handle {
  color: silver;
  font-size: smaller;
}

#search-twitter-container #search-dropdown-container .results-wrapper-ui #profile-infos #description,
#explicit-trend-tweets-container #trends-header-component #show-search-results-container .results-wrapper-ui #profile-infos #description {
  text-align: justify;
  font-size: larger;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .searched-related-topic-wrapper,
#search-twitter-container #search-dropdown-container .searched-related-topic-wrapper {
  display: flex;
  align-items: center;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .searched-related-topic-wrapper:hover,
#search-twitter-container #search-dropdown-container .searched-related-topic-wrapper:hover {
  background-color: lightgray;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .searched-related-topic-wrapper .search-icon,
#search-twitter-container #search-dropdown-container .searched-related-topic-wrapper .search-icon {
  transform: scale(.6);
  display: flex;
  align-items: center;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .searched-related-topic-wrapper .topic-name,
#search-twitter-container #search-dropdown-container .searched-related-topic-wrapper .topic-name {
  font-size: smaller;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .searched-related-topic-wrapper .topic-tweets,
#search-twitter-container #search-dropdown-container .searched-related-topic-wrapper .topic-tweets {
  margin-left: 11px;
  color: silver;
  font-size: small;
}

#explicit-trend-tweets-container #trends-header-component #show-search-results-container .searched-related-topic-wrapper {
  font-size: x-large;
  line-height: 2em;
}

#explicit-trend-tweets-container #top-navigation-panel-container {
  display: flex;
  justify-content: space-between;
  font-size: larger;
  font-weight: bolder;
  padding: 0px 6px 0px 4px;
  width: 97.1%;
  margin: auto;
}

#explicit-trend-tweets-container #top-navigation-panel-container .navigation-name {
  /* border: solid silver 1.1px; */
  width: 20%;
  line-height: 1.7em;
  background-color: lightgray;
  margin: 0.8px 1.1px 0px 1.1px;
}

#explicit-trend-tweets-container #reuseable-articles-renderer-wrapper .render-article-wrapper {
  /* width: 674px; */
  width: 661px;
  padding: 4px;
}