#render-explore-page-container {
    position: absolute;
    width: 681px;
    top: 0px;
    left: 25.1%;
}

#render-explore-page-container #header-segment {
    color: red;
}

#render-explore-page-container #trends-header {
    font-size: xx-large;
}

#render-explore-page-container #top-news-relays-container .news-item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    font-size: larger;
    padding: 4px 4px 9px 11px;
}

#render-explore-page-container #top-news-relays-container .news-item-wrapper #show-suggested-settings-wrapper {
    width: 60%;
    top: 26px;
}

#render-explore-page-container #most-trending-news-wrapper {
    position: relative;
    /* width: 99%; */
    border-radius: 8px;
}

#render-explore-page-container #most-trending-news-wrapper #trending-news-img {
    border-radius: 8px;
}

#render-explore-page-container #most-trending-news-wrapper #news-info {
    position: absolute;
    bottom: 4px;
    text-align: left;
    padding: 13px;
    /* color: darkseagreen; */
    font-size: larger;
    font-weight: bolder;
    background-color: rgba(29, 155, 240, .45);
    width: -webkit-fill-available;
}

#render-explore-page-container #most-trending-news-wrapper #news-info #news-section {
    font-size: small;
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0px 11px 0px;
    position: relative;
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #left-side {
    display: flex;
    font-size: xx-large;
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #left-side #svg-icon {
    fill: aqua;
    stroke: black;
    transform: scale(.8);
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #category-option-svg {
    border-radius: 100%;
  display: flex;
  /* position: relative; */
  height: fit-content;
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #category-option-svg:hover {
    background-color: rgba(29, 155, 240, 1);
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #category-option-modal-wrapper,
#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #show-suggested-settings-wrapper {
    position: absolute;
    background-color: whitesmoke;
    z-index: 99;
    right: 0px;
    top: 31px;
    width: 200px;
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #category-option-modal-wrapper .settings-option-wrapper,
#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #show-suggested-settings-wrapper .settings-option-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 4px; */
    padding: 11px;
}

#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #category-option-modal-wrapper .settings-option-wrapper:hover,
#render-explore-page-container #rendering-news-from-categories #rendering-category-news-container #categoty-header-wrapper #show-suggested-settings-wrapper .settings-option-wrapper:hover{
    background-color: lightslategray;
}

#render-explore-page-container #search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 11px;
    border: solid 1px silver;
    border-radius: 20px;
}

#render-explore-page-container #search-wrapper #svg-icon {
    transform: scale(1.3);
    position: absolute;
    left: 24px;
}

#render-explore-page-container #search-wrapper #search-suggested-list {
    width: -webkit-fill-available;
    line-height: 3.1em;
    padding: 0px 0px 0px 60px;
    font-size: larger;
    border-radius: 20px;
}

#render-explore-page-container #search-semantics-container {
    border: solid 1px silver;
    position: absolute;
    /* color: aqua; */
    top: 62px;
    z-index: 99;
    /* width: 668px; */
    border-radius: 20px;
    background-color: whitesmoke;
    height: 400px;
    overflow-y: auto;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8px 4px 8px 8px;
    margin-right: 0px;
    /* border-top-right-radius: 8px; */
}

#render-explore-page-container #search-semantics-container #company-information-wrapper:hover {
    background-color: lightgrey;
    border-radius: 8px;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper .profile-picture {
    width: 94px;
    border-radius: 42%;
    height: 51px;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper #company-info {
    width: 83%;
    text-align: left;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper #company-info .company-name {
    font-size: x-large;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper #company-info .company-description {
    line-height: 1.3em;
    font-size: smaller;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper #company-info #company-name-verify {
    display: flex;
    align-items: center;
}

#render-explore-page-container #search-semantics-container #company-information-wrapper #company-info #company-name-verify #svg-icon {
    fill: white;
    stroke: black;
}