#top-navigation-menu-container
/* #top-navigation-menu-container .menu-active */
/* #top-navigation-menu-container .menu-default-view  */
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

#top-navigation-menu-container .menu-default-view, #top-navigation-menu-container .menu-active {
  padding: 0.8em;
  min-width: 101px;
  color: gray;
  text-decoration: none;
}

#top-navigation-menu-container #tweets:hover,
#top-navigation-menu-container #tweets-and-replies:hover,
#top-navigation-menu-container #media:hover,
#top-navigation-menu-container #likes:hover {
  background: rgba(197, 192, 192, 0.808);
}

#top-navigation-menu-container .menu-active {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-color: aqua;
  text-decoration-skip-ink: none;
}
