#tweet-analytics-ui-container {
    width: 690px;
    border: solid;
    /* padding: 8px; */
    background-color: rgba(0, 0, 0, .8);
    color: white;
    /* position: absolute; */
    /* left: 31%; */
}

#tweet-analytics-ui-container #close-svg {
    /* background-color: ; */
    display: flex;
    border-radius: 20px;
    fill: currentColor;
    padding: 6px;
}

#tweet-analytics-ui-container #close-svg:hover {
    background-color: darkslategray;
}

#tweet-analytics-ui-container #analytics-header-ui-wrapper,
#tweet-analytics-ui-container #analysing-user-tweet-wrapper #user-info-wrapper,
#tweet-analytics-ui-container #analytics-data-section-container #like-retweet-reply-numbers-ui-wrapper,
#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper .upper-deck
#tweet-analytics-ui-container #lower-deck-wrapper,
#tweet-analytics-ui-container #analytic-metrics-ui-wrapper {
    display: flex;
}

#tweet-analytics-ui-container #analytics-header-ui-wrapper {
    padding: 11px 2px 6px 20px;
    align-items: center;
    font-size: larger;
}

#tweet-analytics-ui-container #analytics-header-ui-wrapper #header-text {
    margin-left: 31px;
}

#tweet-analytics-ui-container #analysing-user-tweet-wrapper {
    text-align: left;
    margin-bottom: 20px;
    border: solid 0.11px;
    padding: 11px 0px 8px 27px;
    /* padding-left: 29px; */
    border-radius: 35px;
}

#tweet-analytics-ui-container #analysing-user-tweet-wrapper .quoted-picture {
    margin: 8px 20px 0px 40px;
    border-radius: 24px;
    width: 540px;
    height: 328px;
}

/* #tweet-analytics-ui-container #analysing-user-tweet-wrapper img */
#tweet-analytics-ui-container #analysing-user-tweet-wrapper a div {
    padding: 8px 20px 0px 40px;
}

#tweet-analytics-ui-container #analysing-user-tweet-wrapper a div picture img {
    border-radius: 11px 11px 20px 20px;
}

#tweet-analytics-ui-container #analysing-user-tweet-wrapper #user-info-wrapper img {
    border-radius: 50%;
    /* width: 42px;
    height: 42px; */
}

#tweet-analytics-ui-container #analysing-user-tweet-wrapper #analysing-tweet-text-wrapper {
    margin-left: 45px;
}

#tweet-analytics-ui-container #analytics-data-section-container {
    padding: 8px;
}

#tweet-analytics-ui-container #analytics-data-section-container #analysing-user-tweet-wrapper #user-info-wrapper {
    width: 50%;
    justify-content: space-between;
}

#tweet-analytics-ui-container #analytics-data-section-container #like-retweet-reply-numbers-ui-wrapper {
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: solid 0.11px;
    padding: 11px 20px 8px 20px;
    border-radius: 35px;
}

#tweet-analytics-ui-container #analytics-data-section-container #like-retweet-reply-numbers-ui-wrapper .marker-wrapper .svg-icon {
    height: 24px;
    width: fit-content;
}

#tweet-analytics-ui-container #analytics-data-section-container #like-retweet-reply-numbers-ui-wrapper .marker-wrapper .svg-icon .profile-page-svg-icons {
    width: 24px;
    height: 24px;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper {
    justify-content: space-around;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper:nth-child(1) {
    /* width: 42%; */
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper .upper-deck {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper #Impressions .meteric-number {
    /* margin-left: 78px; */
    font-size: 80px;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper .upper-deck .metric-name {
    /* margin-right: 11px; */
    color: silver;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper #rests-metrics {
    width: 315px;
    display: flex;
    flex-wrap: wrap;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper {
    position: relative;
    margin-right: 20px;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper .upper-deck .tooltip-svg {
    transform: scale(.6);
    stroke: silver;
    height: 31px;
    width: 31px;
    /* background-color: darkslategray; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper .upper-deck .tooltip-svg:hover {
    cursor: pointer;
    background-color: darkslategray;
}

#tweet-analytics-ui-container #analytic-metrics-ui-wrapper .metric-wrapper .meteric-number {
    font-size: -webkit-xxx-large;
    width: fit-content;
}
#tweet-analytics-ui-container #lower-deck-wrapper #left-side {
    width: fit-content;
    text-align: left;
}

#tweet-analytics-ui-container #lower-deck-wrapper #left-side #heading-text {
    font-size: larger;
    margin-bottom: 8px;
}

#tweet-analytics-ui-container #lower-deck-wrapper #left-side #sub-text {
    font-size: small;
    color: silver;
}

#tweet-analytics-ui-container #lower-deck-wrapper #switch-to {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid transparent;
    width: 330px;
    background-color: whitesmoke;
    border-radius: 24px;
    color: black;
}

#tweet-analytics-ui-container #lower-deck-wrapper {
    display: flex;
    border-top: 1px solid silver;
    padding: 11px 6px 11px 20px;
}

/* tooltips styles */
#analytic-metrics-ui-wrapper .metric-wrapper .tooltip-ui-wrapper {
    background-color: rgba(0, 0, 0, 1);
    text-align: left;
    padding: 16px;
    padding-bottom: 8px;
    position: absolute;
    top: -125px;
    width: max-content;
    z-index: 99;
    border-radius: 4px;
}

#analytic-metrics-ui-wrapper .metric-wrapper .tooltip-ui-wrapper .tooltip-name {
    font-size: x-large;
    margin-bottom: 8px;
    /* color: black; */
}

#analytic-metrics-ui-wrapper .metric-wrapper .tooltip-ui-wrapper .tooltip-subtext {
    margin-bottom: 17px;
    color: gray;
    max-width: 252px;
}

#analytic-metrics-ui-wrapper .metric-wrapper .tooltip-ui-wrapper .tooltip-modal-btn {
    text-align: center;
    background-color: rgba(119, 136, 153, .6);
    border-radius: 29px;
    /* color: black; */
    font-size: x-large;
}

#analytic-metrics-ui-wrapper .metric-wrapper .tooltip-ui-wrapper .tooltip-modal-btn:hover {
    background-color: rgba(119, 136, 153, 1);
}