#edit-profile-container {
  position: absolute;
  width: 690px;
  top: 110px;
  left: 472px;
  z-index: 999999;
  background-color: white;
  border-radius: 11px;
}

/* #edit-profile-container::after {
  opacity: .4;
} */

#edit-profile-container #body-section {
    max-height: 493px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#edit-profile-container #header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 15px;
}

#edit-profile-container #header-section #remove-icon {
  background-color: transparent;
  padding: 2px 4px 0px 4px;
}

#edit-profile-container #header-section #remove-icon:hover {
  background-color: lightgrey;
}

#edit-profile-container #header-section #edit-profile-text {
  margin-left: -265px;
  font-size: larger;
  font-weight: bold;
}

#edit-profile-container #header-section #save-edit-profile-changes {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  width: 74px;
  line-height: 2em;
}

#edit-profile-container #body-section #profile-visuals #profile-cover-photo {
  width: 100%;
  height: 188px;
  /* background-color: darkslategray; */
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  #cover-photo {
  padding: 2px 0px 2px 2px;
  opacity: 0.83;
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  #svg-visuals {
  display: flex;
  justify-content: center;
  transform: translate(10px, -121px);
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  #svg-visuals
  .camera-icon {
  margin-right: 35px;
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  #svg-visuals
  .camera-icon
  #cover-camera-icon-tooltips,
#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  #svg-visuals
  .remove-icon-svg
  #cover-remove-icon-tooltips,
#edit-profile-container
  #body-section
  #profile-visuals
  #profile-photo-div
  .camera-icon
  #profile-camera-icon-tooltips {
  position: absolute;
  /* transform: translate(-13px, -130px); */
  transform: translate(-18px, 4px);
  width: max-content;
  font-size: smaller;
  color: white;
  background-color: lightslategrey;
  display: none;
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  #svg-visuals
  .remove-icon-svg
  #cover-remove-icon-tooltips {
  transform: translate(-29px, 4px);
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-photo-div
  .camera-icon
  #profile-camera-icon-tooltips {
  transform: translate(24px, -2px);
}

/* #edit-profile-container #body-section #profile-visuals #profile-cover-photo svg:nth-child(0),
#edit-profile-container #body-section #profile-visuals #profile-cover-photo svg:nth-child(1), */
#edit-profile-container #body-section #profile-visuals #profile-photo-div svg {
  /* transform: translate(2px, -128px); */
  stroke-width: 0px;
  padding: 4px;
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-photo-div
  #profile-camera {
  transform: translate(0px, -83px);
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  svg:nth-child(0):hover,
#edit-profile-container
  #body-section
  #profile-visuals
  #profile-cover-photo
  svg:nth-child(1):hover,
#edit-profile-container
  #body-section
  #profile-visuals
  #profile-photo-div
  svg:hover {
  background-color: rgba(206, 200, 200, 0.4);
  border-radius: 50%;
}

#edit-profile-container #body-section #profile-visuals #profile-photo-div {
  width: 110px;
  height: 58px;
  transform: translate(11px, -29px);
}

/* #edit-profile-container #body-section #profile-visuals #profile-photo-div #profile-photo, */
#edit-profile-container #body-section #profile-visuals #profile-photo-div {
  transform: translate(18px, -62px);
  height: 117px;
  border-radius: 50%;
}

#edit-profile-container
  #body-section
  #profile-visuals
  #profile-photo-div
  #profile-photo {
  opacity: 0.83;
  border-radius: 50%;
}
/* 
#edit-profile-container #body-section #profile-visuals #profile-photo-div svg {
    transform: translate(18px, -141px);
} */

#edit-profile-container
  #body-section
  #profile-infos
  .editable-text-area-container {
  border: solid silver 1.1px;
  padding: 2px 8px 0px 4px;
  margin-bottom: 13px;
}

#edit-profile-container
  #body-section
  #profile-infos
  .editable-text-area-container
  .top-fragment {
  display: flex;
  justify-content: space-between;
  font-size: smaller;
  color: gray;
}

#edit-profile-container
  #body-section
  #profile-infos
  .editable-text-area-container
  .editable-item-title {
  text-align: left;
}

#edit-profile-container
  #body-section
  #profile-infos
  .editable-text-area-container
  textarea {
  width: 99%;
  border: none;
  resize: none;
  outline: none;
  background: transparent;
}


/* all edit birthdate styles */
#birthdate-edit-container #date-component-container #select-components-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#birthdate-edit-container #remove-birthdate {
  height: 3.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 2px; */
  width: 99%;
  margin: 4px 0px 8px 2px;
}

#birthdate-edit-container #remove-birthdate:hover {
  background-color: rgba(244, 33, 46, 0.2);
}

#birthdate-edit-container #date-component-container #select-components-container .select-component-wrapper {
  border: solid 1px rgb(29, 155, 240);
  margin: .2em;
  border-bottom: solid 2px rgba(29, 155, 240, .56);
  position: relative;
}

#birthdate-edit-container #date-component-container #select-components-container .select-component-wrapper .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 4px;
  margin-bottom: 1.1px;
}

#birthdate-edit-container #date-component-container #select-components-container .select-component-wrapper .top .dropdown-svg::after {
  position: absolute;
  right: 2px;
  top: 15px;
  /* content: url('data:image/svg+xml; utf8, <svg><g><path d="M20.207 8.147c-.39-.39-1.023-.39-1.414 0L12 14.94 5.207 8.147c-.39-.39-1.023-.39-1.414 0-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.196.45.294.707.294s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.022 0-1.413z"></path></g></svg>'); */
  /* content: '::))'; */
}

#birthdate-edit-container #date-component-container #select-components-container .select-component-wrapper .bottom select {
  width: -webkit-fill-available;
  font-size: x-large;
  margin-left: -5.3px;
  appearance: none;
  padding-left: 8px;
  height: 40px;
}

/* #birthdate-edit-container #date-component-container #select-components-container .select-component-wrapper .bottom select::after, */
#birthdate-edit-container #date-component-container #select-components-container .select-component-wrapper .bottom::after {
  /* content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='100' width='100'><circle cx='50' cy='50' r='40' stroke='black' stroke-width='3' fill='red' /></svg>"); */
  content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='24' width='24'><g><path d='M20.207 8.147c-.39-.39-1.023-.39-1.414 0L12 14.94 5.207 8.147c-.39-.39-1.023-.39-1.414 0-.39.39-.39 1.023 0 1.414l7.5 7.5c.195.196.45.294.707.294s.512-.098.707-.293l7.5-7.5c.39-.39.39-1.022 0-1.413z'></path></g></svg>");
  position: absolute;
  /* right: 2px; */
  right: 4px;
  top: 24px;
  pointer-events: none;
}

/* all reuseable modal styles */
#edit-profile-container #body-section #profile-infos .reuseable-modal-container {
  width: 254px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 231px;
  padding: 22px;
  position: absolute;
  right: 164px;
  top: 69px;
  background: rgba(245,245,245, 1);
  border-radius: 18px;
}

#edit-profile-container #body-section #profile-infos .reuseable-modal-container .modal-title {
  font-size: 29px;
  font-weight: 600;
}

#edit-profile-container #body-section #profile-infos .reuseable-modal-container .modal-description {
  color: slategrey;
}

#edit-profile-container #body-section #profile-infos .reuseable-modal-container .clickable-component-container {
  background-color: black;
  color: white;
  line-height: 3.1em;
  border-radius: 24px;
  font-weight: bold;
}