#left-panel-container {
    /* width: 22%; */
    width: 200px;
    margin-left: 51px;
    /* margin-top: 42px; */
    
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.item-divs {
    width: 11px;
    /* margin: 4px; */
    padding: 11px;
    display: flex;
    align-items: center;
}

.item-divs:hover {
    width: min-content;
    /* border: solid; */
    background-color: rgba(208, 226, 243, .5);
    border-radius: 999999px;
    /* box-sizing: border-box; */
    /* opacity: .5; */
}

.icons-span {
    width: 20px;
    height: 20px;
}

.names-span {
    /* padding-top: 6px; */
    /* padding: 6px; */
    padding-top: 8px;
    padding-right: 20px;
    margin-left: 26px;
}

#Twitter {
    margin-bottom: 11px;
}

#Twitter:hover {
    width: 31px;
    border-radius: 50%;
}

#Tweet {
    background-color: rgb(29, 155, 240);
    width: max-content;
    border-radius: 999999px;
    font-size: larger;
    padding-right: 36px;
    padding-bottom: 11px;
    color: white;
    height: 20px;
    margin-top: 8px;
}

#Tweet span {
    padding-bottom: 9px;
    /* padding-right: 20px; */
}

#tweet-modal {
    position: absolute;
    left: 360px;
    top: 40px;
    width: 560px;
    height: 240px;
    border-radius: 11px;
    background-color: gray;
}

.left-opaque {
    opacity: .9;
    background-color: rgba(221, 216, 216, .6);
}



/* .item-divs {
    display: flex;
    width: 100%;
    max-width: 200px;
    width: 90px;
    justify-content: space-evenly;
    align-items: center;
    align-items: baseline;
    margin: 2em;
    font-size: larger;
}

.item-divs span {
    color: black;
    align-items: baseline;
    padding: 12px;
}

.names-span {
    color: black;
}

.icons-span {
    padding: 12px;
    
} */