#tweet-modal {
  position: absolute;
  left: 360px;
  top: 40px;
  width: 560px;
  min-height: 240px;
  border-radius: 11px;
  background-color: gray;
}

.left-opaque {
  opacity: 0.9;
  background-color: rgba(221, 216, 216, 0.6);
}

#delete-icon {
  display: flex;
  justify-content: left;
  margin: 1.1em;
}

#middle-content #header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#middle-content {
  width: 551px;
}

#profile-pic {
  width: 42px;
  height: 42px;
  margin: 1.1em;
  border-radius: 50%;
}

#tweet-input {
  width: 450px;
  /* height: 100%; */
  /* height: 89px; */
  font-size: 20px;
  line-break: normal;
  /* overflow-x: auto; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* hyphens: auto; */
  outline: none;
  resize: none;
  overflow: hidden;
  /* overflow: auto; */
  border: ridge;
  white-space: pre-line;
  /* min-height: 60px; */
  overflow-y: auto;
  word-wrap: break-word;
  padding: 0.2em;
}

#options-selected {
  display: flex;
  justify-content: left;
  margin: 1.1em;
  margin-left: 4.4em;
  position: relative;
}

#tweet-options {
  width: 229px;
  background: gray;
  text-align: left;
  padding: 6px 8px;
  margin-top: 0.9em;
  border-radius: 17px;
}

#tweet-options p {
  /* padding-top: -.41em; */
  font-size: 11.9px;
  color: white;
}

.options-div {
  display: flex;
  justify-content: left;
  align-items: center;

  padding-top: 0.4em;
  /* padding-bottom: 0.4em; */
  margin-bottom: 1.1em;
}

.options-div:hover {
  background-color: teal;
}

.option-svg {
  /* padding: .47em;
    padding-top: .9em; */
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2.1px;
  padding-top: 6px;
  background: rgb(29, 155, 240);
  border-radius: 50%;
}

.option-text {
  margin-left: 11px;
  font-size: smaller;
}

.privacy-spans {
  /* width: 191px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(29, 155, 240);
}

.privacy-svg {
  margin-right: 4px;
}

#tweet-additionals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* #tweet-medias {
    margin-left: -62px;
} */

#tweet-medias {
  display: flex;
  width: 200px;
  justify-content: space-between;
  /* align-content: center; */
  padding: 9px 9px;
  margin-left: -56px;
}

#image-icon,
#gif-icon,
#poll-icon,
#emoji-icon,
#schedule-icon {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#tweet-medias svg {
  margin-right: 8px;
}

#image-view img {
  /* width: 380px; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* height: 290px; */
  /* margin-right: 40%; */
}

#image-view {
  text-align: left;
  padding: 15px 33px;
}

#remove-image {
  /* text-align: left; */
  background: silver;
  padding: 8px 4px 2px 2px;
  border-radius: 50%;
}

#gif-container {
  padding-left: 20px;
}

.grid-component {
  padding-left: 33.9px;
}

#gif-top {
  display: flex;
  justify-content: space-evenly;
}

#gif-search {
  width: 74%;
  border-radius: 99px;
}

#remove-icon {
  margin-right: 15px;
  padding: 2px 5px 0px 2px;
  background: silver;
  border-radius: 50%;
}

#gif-view {
  padding: 0.2em;
  /* max-height: 470px; */
}

#poll-container {
  /* padding: .2em;
    margin-left: 6.41%;
    width: 557px;
    width: 100%;
    flex-direction: column; */
  /* padding: .2em; */
  margin-left: 15.41%;
  /* width: 493px; */
  width: 83%;
  flex-direction: column;
  border: silver 0.2em solid;
  border-radius: 11px;
  margin-top: 0.6em;
}

#top-layer {
  /* max-width: 83%; */
  width: 100%;
  margin-bottom: 0.4em;
  margin: auto;
}

#top-layer .div-text {
  height: 1.1em;
  text-align: left;
  color: rgb(29, 155, 240);
  font-size: x-large;
}

#top-layer .choices-container {
  font-size: small;
  color: silver;
  margin: 0.4em;
}

#top-layer {
  border-bottom: solid 0.2em silver;
}

.choices-container {
  border: 0.11em solid silver;
}

#mid-layer {
  padding: 0.02em;
  margin: 0.18em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.length-container {
  display: flex;
  justify-content: space-evenly;
  border: solid silver 0.11em;
  /* height: 3.8em; */
  width: 5.6em;
  font-size: larger;
}

.length-container select {
  /* text-align: right; */
  width: 200px;
}

.length-container select option {
  width: 150%;
  font-size: x-large;
}

.length-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.2em;
}

#choices-container {
  /* display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: .2em solid silver;
    width: 80%;
    margin-left: 45px;
    padding: .6em; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: .2em solid silver; */
  width: 94%;
  padding: 0.6em;
}

#choices {
  width: 100%;
}

.poll-choices {
  /* width: 242%; */
  width: 98%;
}

#poll-lengths,
#all-lengths {
  display: flex;
}

#poll-lengths {
  /* flex-direction: column;
    text-align: left;
    border: .2em solid silver;
    width: 83.6%;
    margin: .4em;
    margin-left: 11.4px; */
  flex-direction: column;
  text-align: left;
  /* border: .2em solid silver; */
  width: 448px;
  margin-top: 0.4em;
}

#all-lengths {
  justify-content: space-between;
  /* width: 126%; */
  margin: 0.4em;
}

#poll-length-text {
  margin-left: 6px;
}

.length-text {
  color: silver;
  font-size: small;
}

#add-choices {
  background-color: silver;
  border-radius: 68%;
  width: 29px;
  font-size: xx-large;
  margin: 0.22em;
  margin-left: 17px;
}

#bottom-layer {
  /* background: silver;
    width: 77%;
    margin: auto;
    padding: 20px;
    font-size: larger;
    color: red;
    margin-left: 45px; */
  background: silver;
  padding: 20px;
  font-size: larger;
  color: red;
  margin-left: -2px;
  border-bottom-right-radius: 8px;
}

.split-divs {
  display: flex;
  justify-content: space-between;
  height: 2.2em;
}

.svg-icon {
  height: 40px;
  width: 40px;
}

.svg-button {
  background: transparent;
  outline: none;
  border: none;
}

.emojis {
  color: yellow;
  text-shadow: 0 0 0 blue;
}

#emoji-picker-container {
  position: absolute;
}

/* tweet scheduler */
#tweet-scheduler-container {
  width: 560px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: whitesmoke;
  z-index: 999999;
  border-radius: 11px;
}

#mid-section {
  display: flex;
  flex-direction: column;
  width: 97.2%;
}

#date-selection {
  width: 100%;
  padding: 8px;
}

#date-selection #header-text {
  text-align: left;
}

#date-scrolls,
.scroll-container {
  display: flex;
  justify-content: space-between;
}

.scroll-container {
  /* margin-left: 0px; */
  /* width: 33%; */
  padding: 11px;
  justify-content: space-between;
  border: silver solid 0.11em;
  /* height: 3.3em; */
  align-items: center;
  /* width: 33%; */
  flex-direction: column;
  max-height: 2em;
  border-radius: 2px;
}

.scroll-container .top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6px;
  position: relative;
}

#Month {
  width: 42%;
}

.scroll-container select {
  width: 110%;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding: 11px;
  /* margin-top: -17px; */
}

.scroll-container svg {
  position: absolute;
  top: 50%;
  left: 89%;
}

#Days {
  width: 13%;
  padding-right: 18px;
}

#Years {
  width: 20%;
  padding-right: 18px;
}

/* .left-side .title {
  color: gray;
}

.scroll-container .right-side {
  transform: rotate(180deg);
  font-size: larger;
}

#Month {
  width: 38%;
  margin-right: 17px;
}

#Month .right-side {
  
}

#Days {
  width: 17%;
  margin-right: 17px;
}

#Years {
  width: 27%;
} */

/* #Month {
  width: 200px;
}

#Month .right-side {
  width: 110px;
}

#Days {
  width: 101px;
}

#Years {
  margin-right: 17px;
} */
