#signup-page-container {
    width: 560px;
    background-color: whitesmoke;
    border-radius: 11px;
}

#signup-page-container #top-div, 
#signup-page-container #bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 261px 4px 20px;
}

#signup-page-container #top-div #remove-modal, 
#signup-page-container #top-div #twitter-logo {
    display: flex;
    align-items: center;
    padding: 4px;
}

#signup-page-container #top-div #remove-modal:hover, 
#signup-page-container #top-div #twitter-logo:hover {
    background-color: lightgray;
    border-radius: 50%;
}

#signup-page-container #user-info-div #first-half {
    padding: 2px 15px 2px 17px;
}

#signup-page-container #user-info-div #first-half .custom-input-component-container {
    border: solid .17em silver;
    margin-bottom: 20px;
    border-radius: 4px;
}

#signup-page-container #user-info-div #first-half .custom-input-component-container .component-header {
    height: 1.7em;
    text-align: left;
    margin-left: 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
    color: darkslategray;
    font-size: medium;
}

#signup-page-container #user-info-div #first-half .custom-input-component-container input {
    width: -webkit-fill-available;
    height: 2.7em;
    border: none;
    background-color: transparent;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 11px;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container:nth-child(1) {
    width: 236px;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container:nth-child(2) {
    width: 110px;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container:nth-child(3) {
    width: 164px;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container {
    border: solid .11em lightgrey;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: relative;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .dropdown-icon-div {
    /* position: absolute; */
    /* top: 13px; */
    /* right: 2px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .dropdown-icon-div::after {
    position: absolute;
    top: 31%;
    right: 8px;
    /* width: 20px;
    height: 20px; */
    /* content: "😎"; */
    /* content: attr(dataDropdownIcon()); */
    /* content: '\\/'; */
    content: '˅';
    pointer-events: none;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .dropdown-icon-div .dropdown-icon {
    position: absolute;
    top: 27%;
    right: 8px;
    cursor: pointer;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .left-side {
    width: -webkit-fill-available;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .left-side .element-header {
    text-align: left;
    padding-left: 11px;
    font-size: smaller;
    color: darkslategrey;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .left-side select {
    width: -webkit-fill-available;
    height: 2.7em;
    font-size: small;
    appearance: none;
    /* padding: 2px 0px 4px 8px; */
    padding-left: 11px;
    -webkit-appearance: none;
        appearance: none;
        border: 0;
        display: block;
        /* width: 22px; */
        /* height: 22px; */
        cursor: pointer;
}

#signup-page-container #user-info-div #second-half #birth-date-selection-container .select-element-container .left-side #Month-select {
    /* width: 362%; */
}

#signup-page-container #bottom-div {
    /* background-color: rgba(29, 155, 240, .6); */
    border-radius: 27px;
    margin: 4px 6px 6px 6px;
    height: 2em;
    padding: 0px;
    justify-content: center;
    font-weight: bold;
    color: white;
    width: -webkit-fill-available;
    border: none;
}

.ready {
    pointer-events: auto;
    background-color: rgba(29, 155, 240, 1);
}

.not-ready {
    pointer-events: none;
    background-color: rgba(29, 155, 240, .6);
}

