#media-editing-container {
    width: 461px;
    transform: translate(328px, -420px);
    background: whitesmoke;
}

#media-editing-container #header-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#media-editing-container #header-section #top-portion, 
#media-editing-container #header-section #bottom-portion {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#media-editing-container #header-section #top-portion {
    padding: 11px;
}

#media-editing-container #header-section #top-portion #left-side,
#media-editing-container #header-section #top-portion #left-side #svg-icon {
    display: flex;
    align-items: center;
}

#media-editing-container #header-section #top-portion #right-side button{
    border-radius: 20px;
    outline: none;
    outline-color: transparent;
    background-color: black;
    color: whitesmoke;
    box-shadow: none;
}

#media-editing-container #header-section #bottom-portion {
  justify-content: space-around;
}

#media-editing-container #header-section #bottom-portion #svg-icon-tab {
    /* border: .11em solid; */
    width: 50%;
}

#media-editing-container #header-section #bottom-portion #alt-div-tab {
    /* border: .11em solid; */
    width: 50%;
    height: 1.78em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#media-editing-container #header-section #bottom-portion #svg-icon-tab:hover,
#media-editing-container #header-section #bottom-portion #alt-div-tab:hover {
    background: slategray;
}

#media-editing-container #middle-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(128, 128, 128, .4);
    position: relative;
    overflow: auto;
}

#media-editing-container #middle-section #overlay-view {
    position: absolute;
    border: solid aqua .11em;
    border-radius: 2px;
}

#media-editing-container #middle-section #media-view {
    /* width: 100%;
    height: 63%; */
    /* width: 456px; */
    height: 254px;
    /* overflow: scroll; */
}

#media-editing-container #bottom-section {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

#media-editing-container #bottom-section #description-div {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    border: .01em solid;
    border-color: rgba(128, 128, 128, .4);
    border-bottom: none;
    padding: 0.4em;
    font-size: smaller;
}

.highlight-description-div-border {
    border-color: rgb(29, 155, 240);
    /* border-bottom-color: none; */
}

#media-editing-container #bottom-section #description-area {
    outline: none;
    resize: none;
    border-color: rgba(128, 128, 128, .4);
    border-top-color: white;
    background-color: transparent;
}

#media-editing-container #bottom-section #description-area:focus {
    border-color: rgb(29, 155, 240);
    border-top-color: white;
}

#media-editing-container #bottom-section a {
    color: rgb(29, 155, 240);
    text-decoration: none;
    width: fit-content;
}

#media-editing-container #bottom-section a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(29, 155, 240);
}

#media-editing-container #photo-edit-bottom-section, 
#media-editing-container #photo-edit-bottom-section #zoom-in-and-out{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar {
    /* width: 146px;
    height: 2px;
    background-color: rgba(29, 155, 240, .2); */
    display: flex;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar #slider-filler {
    background-color: rgb(29, 155, 240);
    position: relative;
    width: fit-content;
    height: 4px;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar #slider-filler #slider-nob {
    width: 6px;
    height: 10px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: -4.5px;
}

#media-editing-container #photo-edit-bottom-section .image-shapes {
    margin: 0.6em;
    padding: .4em;
    display: flex;
}

#media-editing-container #photo-edit-bottom-section .image-shapes:hover {
    background-color: lightgray;
    border-radius: 50%; 
}

#media-editing-container #photo-edit-bottom-section .image-shapes .shape-active {
    stroke: rgba(29, 155, 240, .69);
}

/* #canvas {
    height: max-content;
    width: max-content;
} */

/* 
#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar {
    display: flex;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar #slider-filler {
    background-color: rgb(29, 155, 240);
    position: relative;
    width: fit-content;
    appearance: none;
    height: 4px;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar #slider-filler #slider-nob {
    width: 6px;
    height: 10px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    top: -4.5px;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar #slider-filler::-ms-thumb {
    appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

#media-editing-container #photo-edit-bottom-section #zoom-in-and-out #progress-bar #slider-filler::-moz-range-thumb {
    width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
} */