#profile-page-container,
#profile-page-upperview-container {
  /* position: absolute;
  top: 20px;
  left: 290px; */
  /* width: 492px; */
}

#all-tweets-container {
  position: absolute;
  /* left: 30.19%;
  top: 56%; */
  /* left: 310px; */
  left: 29.69%;
  top: 445px;
}

/* #profile-page-container  */
#tweet-container,
#extra-tweet-portion-container,
#without-extra-tweet-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* align-items: flex-end; */
  align-items: flex-start;
  /* flex-direction: column; */
  border: solid silver 0.1em;
  border-bottom: none;
}

#extra-tweet-portion-container,
#without-extra-tweet-container {
  padding: 18px;
}

#tweet-container {
  flex-direction: column;
  width: 557px;
}

/* #profile-page-container  */
#tweet-container:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

/* #profile-page-container  */
#tweet-container .right-portion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 13px;
  width: 503px;
}

/* #profile-page-container  */
#tweet-container .right-portion span:nth-child(1),
/* #profile-page-container  */
#tweet-container .right-portion span:nth-child(2),
/* #profile-page-container  */
#tweet-container .right-portion span:nth-child(3) {
  color: silver;
  font-size: smaller;
}

/* #profile-page-container  */
#tweet-container .left-portion {
  transform: translate(-4px, 27px);
}

#tweet-container #show-connecting-line {
  border-left: 2px solid silver;
  position: absolute;
  height: 101px;
  transform: translate(65px, -82px);
}

#extra-tweet-portion-container,
#without-extra-tweet-container {
  border: none;
}

#extra-tweet-portion-container .left-portion {
  transform: translate(-4px, 24px);
}

#without-extra-tweet-container .left-portion img {
  transform: translate(6px, -42px);
}

/* #profile-page-container  */
#tweet-container .left-portion img {
  width: 56px;
  height: 68px;
}

.profile-details-on-tweet,
.tweet-text-on-profile,
.tweet-privacy-on-profile {
  margin-bottom: 0.1em;
}

.tweet-text-on-profile {
  transform: translateY(-5px);
}

.profile-details-on-tweet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tweet-privacy-on-profile .privacy-spans {
  margin-left: -6px;
}

.tweet-privacy-on-profile .privacy-spans .privacy-svg {
  margin: 4px;
}

.profile-page-svg-icons {
  width: 29px;
  height: 26px;
}

/* #profile-page-container  */
#tweet-container .right-portion .icon-svg {
  /* background: silver; */
  border-radius: 50%;
  padding-left: 1%;
  padding-top: 1%;
  transform: translate(-4px, -8px);
}

/* #profile-page-container  */
#tweet-container .right-portion .icon-svg:hover {
  /* background-color: silver; */
  background: silver;
}

/* #profile-page-container  */
#tweet-container .right-portion .additionals-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 87%;
  margin-left: -1.3%;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons .hover-div {
  position: relative;
  /* padding-top: 8px;
    padding-left: 6px; */
  /* width: 38px; */
  /* padding-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center; */
  /* width: min-content; */
  display: flex;
  padding: 2px 0px 0px 4px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons .hover-div:hover {
  background-color: silver;
  border-radius: 100%;
  /* padding-top: 8px; */
}

/* #profile-page-container */
#tweet-container
  .right-portion
  .additionals-icons
  #like,
/* #profile-page-container */
  #tweet-container
  .right-portion
  .additionals-icons
  #share,
/* #profile-page-container */
  #tweet-container
  .right-portion
  .additionals-icons
  #retweet,
/* #profile-page-container */
  #tweet-container
  .right-portion
  .additionals-icons
  #reply {
  /* width: 38px; */
  padding-top: 4px;
  padding-left: 4px;
  /* padding-bottom: -2px; */
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #like .tooltips-text {
  margin-left: 6px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #share .tooltips-text {
  margin-left: 0px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #analytics .tooltips-text {
  margin-left: -11px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #retweet .tooltips-text {
  margin-left: -4px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #reply .tooltips-text {
  margin-left: 4.11px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons .tooltips-text {
  position: absolute;
  top: 105%;
  left: 0%;
}

#tweet-container .tweet-media-on-profile,
#tweet-container .tweet-gif-on-profile {
  height: 323px;
  width: 96%;
}

#tweet-container .tweet-gif-on-profile {
  width: 100%;
}

.tweet-media-on-profile img,
.tweet-gif-on-profile .style-gif-border-radius picture img {
  border-radius: 11px;
}

.tweet-gif-on-profile .style-gif-border-radius {
}

#extra-tweet-portion-container .left-portion #profile-pic {
  transform: translate(8px, -38px);
}

#tweet-container .tweet-poll-on-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tweet-container .tweet-poll-on-profile .poll-info,
#tweet-container .tweet-poll-on-profile .poll-info .left-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-container .tweet-poll-on-profile .poll-info {
  padding: 0px 11px 0px 0px;
  height: 2em;
}

#tweet-container .tweet-poll-on-profile .poll-info .poll-progress {
  min-width: 4px;
  background-color: silver;
  margin-right: 4px;
  line-height: 2em;
}
