#profile-page-container,
#profile-page-upperview-container {

}

#all-tweets-container {
  position: absolute;
  left: 29.69%;
  top: 445px;
}

/* #profile-page-container  */
#tweet-container,
#extra-tweet-portion-container,
#without-extra-tweet-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: solid silver 0.1em;
  border-bottom: none;
}

#extra-tweet-portion-container,
#without-extra-tweet-container {
  padding: 18px;
}

#tweet-container {
  flex-direction: column;
  width: 557px;
}

/* #profile-page-container  */
#tweet-container:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

/* #profile-page-container  */
#tweet-container .right-portion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 13px;
  width: 503px;
}

/* #profile-page-container  */
#tweet-container .right-portion span:nth-child(1),
/* #profile-page-container  */
#tweet-container .right-portion span:nth-child(2),
/* #profile-page-container  */
#tweet-container .right-portion span:nth-child(3) {
  color: silver;
  font-size: smaller;
}

/* #profile-page-container  */
#tweet-container .left-portion {
  transform: translate(-4px, 27px);
}

#tweet-container #show-connecting-line {
  border-left: .2px solid silver;
  position: absolute;
  height: 61px;
  transform: translate(26px, -59.5px);
}

#extra-tweet-portion-container,
#without-extra-tweet-container {
  border: none;
}

#extra-tweet-portion-container .left-portion {
  transform: translate(-4px, 24px);
}

#without-extra-tweet-container .left-portion img {
  transform: translate(6px, -42px);
}

/* #profile-page-container  */
#tweet-container .left-portion img {
  width: 56px;
  height: 68px;
}

.profile-details-on-tweet,
.tweet-text-on-profile,
.tweet-privacy-on-profile {
  margin-bottom: 0.1em;
}

.tweet-text-on-profile {
  transform: translateY(-5px);
}

.profile-details-on-tweet {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tweet-privacy-on-profile .privacy-spans {
  margin-left: -6px;
}

.tweet-privacy-on-profile .privacy-spans .privacy-svg {
  margin: 4px;
}

.profile-page-svg-icons {
  width: 29px;
  height: 26px;
}

/* #profile-page-container  */
#tweet-container .right-portion .icon-svg {
  /* background: silver; */
  border-radius: 50%;
  padding-left: 1%;
  padding-top: 1%;
  transform: translate(-4px, -8px);
}

/* #profile-page-container  */
#tweet-container .right-portion .icon-svg:hover {
  /* background-color: silver; */
  background: silver;
}

/* #profile-page-container  */
#tweet-container .right-portion .additionals-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 87%;
  margin-left: -1.3%;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons .hover-div {
  position: relative;
  display: flex;
  padding: 2px 0px 0px 4px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons .hover-div:hover {
  background-color: silver;
  border-radius: 100%;
  /* padding-top: 8px; */
}

/* #profile-page-container */
#tweet-container
  .right-portion
  .additionals-icons
  #like,
/* #profile-page-container */
  #tweet-container
  .right-portion
  .additionals-icons
  #share,
/* #profile-page-container */
  #tweet-container
  .right-portion
  .additionals-icons
  #retweet,
/* #profile-page-container */
  #tweet-container
  .right-portion
  .additionals-icons
  #reply {
  /* width: 38px; */
  padding-top: 4px;
  padding-left: 4px;
  /* padding-bottom: -2px; */
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #like .tooltips-text {
  margin-left: 6px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #share .tooltips-text {
  margin-left: 0px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #analytics .tooltips-text {
  margin-left: -11px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #retweet .tooltips-text {
  margin-left: -4px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons #reply .tooltips-text {
  margin-left: 4.11px;
}

/* #profile-page-container */
#tweet-container .right-portion .additionals-icons .tooltips-text {
  position: absolute;
  top: 105%;
  left: 0%;
}

#tweet-container .tweet-media-on-profile,
#tweet-container .tweet-gif-on-profile {
  height: 323px;
  width: 96%;
}

#tweet-container .tweet-gif-on-profile {
  width: 100%;
}

.tweet-media-on-profile img,
.tweet-gif-on-profile .style-gif-border-radius picture img {
  border-radius: 11px;
}

.tweet-gif-on-profile .style-gif-border-radius {
}

#extra-tweet-portion-container .left-portion #profile-pic {
  transform: translate(8px, -38px);
}

#tweet-container .tweet-poll-on-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#tweet-container .tweet-poll-on-profile .poll-info,
#tweet-container .tweet-poll-on-profile .poll-info .left-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-container .tweet-poll-on-profile .poll-info {
  padding: 0px 11px 0px 0px;
  height: 2em;
}

#tweet-container .tweet-poll-on-profile .poll-info .poll-progress {
  min-width: 4px;
  background-color: silver;
  margin-right: 4px;
  line-height: 2em;
}


/* readjusted tweet display styling */
.rendering-tweet-data-container,
.rendering-tweet-data-container .right-side .tweet-top,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons {
  display: flex;
  justify-content: space-between;
}

.rendering-tweet-data-container {
  padding-bottom: 9px;
}

.rendering-tweet-data-container .left-side{
  width: 42px;
  height: 42px;
}

.rendering-tweet-data-container .left-side .in-tweet-profile-pic {
  border-radius: 56px;
  margin: 4px 0px 0px 6px;
}

.rendering-tweet-data-container .right-side {
  width: -webkit-fill-available;
  text-align: left;
  margin-left: 20px;
  margin-top: 6px;
}

.rendering-tweet-data-container .right-side .tweet-top {
  margin: 4px 4px 4px 0px;
}

.rendering-tweet-data-container .right-side .privacy-spans {
  margin-bottom: 9px;
}

.rendering-tweet-data-container .right-side .privacy-spans svg {
  transform: scale(.69);
  /* border-radius: 50%;
  background-color: rgb(29, 155, 240); */
}

.rendering-tweet-data-container .right-side .privacy-spans .privacy-svg {
  height: 26px;
  border-radius: 50%;
  background-color: rgb(29, 155, 240);
}

.rendering-tweet-data-container .right-side .privacy-spans .privacy-text {
  color: silver;
  font-size: smaller;
  margin-left: 11px;
}

.rendering-tweet-data-container .right-side .tweet-media-file-content {
  margin: 11px 18px 11px 0px;
  width: 94.4%;
}

.rendering-tweet-data-container .right-side .tweet-media-file-content a div picture img, 
.rendering-tweet-data-container .right-side .tweet-media-file-content img {
  /* margin: 11px 0px 11px 0px; */
  border-radius: 20px;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.rendering-tweet-data-container .right-side .tweet-media-file-content a div div {
  display: none;
}

.rendering-tweet-data-container .right-side .tweet-media-file-content a div:nth-child((2)) div:nth-child((1)) {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons {
  margin-bottom: 4px;
  margin-right: 20px;
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons .hoverable-div {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons .hoverable-div .hoverable-div-tooltips-text {
  position: absolute;
  /* margin-top: 42px; */
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #reply .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #reply-een .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #reply-twee .hoverable-div-tooltips-text {
  transform: translate(-2px, -5px);
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #like .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #like-een .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #like-twee .hoverable-div-tooltips-text {
  transform: translate(0px, -5px);
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #retweet .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #retweet-een .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #retweet-twee .hoverable-div-tooltips-text {
  transform: translate(-10px, -5px);
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #share .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #share-een .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #share-twee .hoverable-div-tooltips-text {
  transform: translate(-5px, -5px);
}

.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #analytics .hoverable-div-tooltips-text, 
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #analytics-een .hoverable-div-tooltips-text,
.rendering-tweet-data-container .right-side .tweet-bottom-clickable-icons #analytics-twee .hoverable-div-tooltips-text {
  transform: translate(-17px, -5px);
}

/* some more styling adjustments with more improvised contexts */

.rendering-tweet-data-container .when-has-extra-tweet {
  /* display: flex;
  flex-direction: column; */
  width: -webkit-fill-available;
}

.rendering-tweet-data-container .when-has-extra-tweet .tweet-extra-info-een,
.rendering-tweet-data-container .when-has-extra-tweet .tweet-extra-info-twee {
  display: flex;
  /* flex-direction: column; */
}

.rendering-tweet-data-container .when-has-extra-tweet .extnded-line-in-tweet {
  height: 96.9px;
  transform: translate(25px, -94.5px);
}