#login-container {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-info {
    display: flex;
    flex-direction: column;
    min-width: 308px;
}

#login-container #login-info input {
    width: 96%;
    /* line-height: 2em; */
    outline: none;
    border: .1em solid gray;
    border: none;
    /* text-align: center; */
    font-size: x-large;
    background-color: transparent;
}

input {
    /* width: 96%; */
    /* line-height: 2em; */
    outline: none;
    /* border: .1em solid gray; */
    border: none;
    /* text-align: center; */
    /* font-size: x-large; */
}

#login-container #login-info .user-login {
    margin-bottom: 1.7em;
    border: .1em solid gray;
    height: 3.41em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 8px;
    padding-left: 6px;
    padding-bottom: 4px;
    position: relative;
}

#login-container #login-info .user-login .password-masking {
    /* -webkit-text-security: circle; */
    -webkit-text-security: disc;
}

#login-container #login-info .user-login #mask-or-unmask {
    position: absolute;
    right: 11px;
}

#login-container #login-info .user-login .placeholder-div {
    transform: translate(2px, 0px);
    text-align: left;
    /* border: .1em solid gray;
    width: 101.33%;
    border-bottom: none;
    height: 1.1em; */
    color: rgb(29, 155, 240);
    font-size: medium;
}

#login-container #login-info #login-btn {
    font-size: xx-large;
    font-weight: 600;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: rgb(29, 155, 240);
    color: white;
}

/* input {

    line-height: 3.1em;
    margin: .8em;
    outline: none;
    border: .1em solid gray;
} */

input[type='submit'] {
    height: 4em;
    border-radius: 9999px;
    outline: none;
    background-color: rgb(29, 155, 240);
    opacity: .5;
    color: white;
    font-weight: bolder;
}

#additional-info {
    margin: .8em;
    color: rgb(29, 155, 240); 
}

#additional-info a {
    color: rgb(29, 155, 240);
    margin: .29em;
}

#twitter-info {
    margin-left: -126px;
}

.opaque {
    opacity: 1;
}

#announcement-div {
    width: -webkit-fill-available;
    /* margin-left: 2.9px; */
    margin-bottom: .78em;
    background-color: rgb(254, 222, 227);
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: smaller;
    text-align: left;
    /* display: none; */
}

#login-container #login-info #user-otp-verification-wrapper #otp-input {
    border: solid 1px silver;
    border-radius: 11px;
    padding-left: 6px;
    font-size: x-large;
}

#login-container #login-info #user-otp-verification-wrapper #opt-submit {
    background: aqua;
    margin-top: 4px;
    border-radius: 20px;
    line-height: 2em;
    font-size: x-large;
}

/* svg {
    position: absolute;
    left: 80%;
    top: 4%;
} */